.desktop_clock {
  color: white;
}

.desktop_clock .month {
  font-family: Anurati;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.desktop_clock .date {
  font-family: Computerfont;
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.desktop_clock .day {
  font-size: 7rem;
  font-family: Anurati;
}

.desktop_clock .time,
.desktop_clock .weather,
.desktop_clock .temp {
  font-size: 2.5rem;
  font-family: Computerfont;
  margin-right: 0.5rem;
}
