.hyprland,
.workspaces {
  background-color: transparent;
}

.workspaces {
  margin: 0.5rem 0 0 1rem;
  > .workspace-btn {
    all: unset;
    margin: 0 0.25rem;
  }
  > .empty {
    color: transparentize(#ffffff, 0.1);
  }
  > .occupied {
    color: transparentize(#ffffff, 0.1);
  }
  > .active {
    color: #ffffff;
  }
}

.window_title {
  color: #ffffff;
  font-family: ComicCodeLigatures Nerd Font;
  margin: 0.5rem 0 0 1rem;
  font-size: 1.1rem;
}
