* {
  font-family: monospace;
  font-size: 0.75rem;
  min-height: 0;
}

window#waybar {
  background-color: #1d2021;
  color: #ebdbb2;
  border-radius: 100px;
  border: 1.5px solid #ebdbb2;
}

.modules-right,
.modules-left {
  padding: 0px 1rem;
}

/* Workspaces styling */
#custom-workspaces {
  font-size: 1.2rem;
  margin-top: -0.25rem;
  letter-spacing: 0.4rem;
  margin-right: 0.5rem;
}

#custom-workspaces button {
  background-color: transparent;
  color: #928374;
  border-radius: 4px;
  transition: all 0.3s ease;
}

#custom-workspaces button.active {
  background-color: #458588;
  color: #1d2021;
}

#custom-workspaces button.urgent {
  background-color: #cc241d;
  color: #ebdbb2;
}

/* Tray styling */
#tray {
  margin-left: 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* Tooltip styling */
tooltip {
  background-color: #282828;
  color: #ebdbb2;
  border: 1px solid #a89984;
  border-radius: 4px;
  padding: 8px;
}

tooltip label {
  color: #ebdbb2;
}
